[Desktop Entry]
Version=2.3.5+33
Name=HEX Generator
GenericName=HEX Generator
Comment=HEX Generator
Terminal=false
Type=Application
Categories=Utility;
Keywords=HEX,Generator,HEX Generator;
StartupWMClass=xrayhexgenerator
Exec=/usr/bin/xrayhexgenerator
TryExec=/usr/bin/xrayhexgenerator
Icon=app.rayadams.xrayhexgenerator
