[Desktop Entry]
Version=2.2.1+26
Name=HEX Generator
GenericName=HEX Generator
Comment=HEX Generator
Terminal=false
Type=Application
Categories=Utility;
Keywords=HEX,Generator,HEX Generator;
StartupWMClass=xrayhexgenerator
Exec=/usr/local/lib/xrayhexgenerator/xrayhexgenerator
TryExec=/usr/local/lib/xrayhexgenerator/xrayhexgenerator
Icon=app.rayadams.xrayhexgenerator
