[Desktop Entry]
Version=2.2.2+28
Name=HEX Generator
GenericName=HEX Generator
Comment=HEX Generator
Exec=xrayhexgenerator
Icon=${SNAP}/meta/gui/xrayhexgenerator.png
Terminal=false
Type=Application
Categories=Utility;
Keywords=HEX, Generator, HEX Generator;
StartupWMClass=xrayhexgenerator
